<dl class="php class">
    <dt class="sig sig-object php"
        id="{{ id }}">
        <em class="property"><span class="pre">class</span> </em><span
                class="sig-prename descclassname"><span class="pre">{{ namespace }}\</span></span><span
                class="sig-name descname"><span class="pre">{{ className }}</span></span><a
                class="headerlink"
                href="#{{ id }}"
                title="Permalink to this definition">¶</a></dt>
    <dd>
    |||
    </dd>
</dl>